* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 1rem
}

a.nav-link {
    display: flex;
    justify-content: center;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.scoring__table {
    background-color: whitesmoke;
    text-align: center;
}

.scoring__table-saved-courses {
    background-color: white;
    text-align: center;
}

.course__database {
    list-style-type: none;
}

.cancel-text {
    z-index: 100;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

.success-text {
    z-index: 100;
    text-align: center;
    color: white;
}

.fore-image {
    z-index: -99;
    height: auto;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}